.main {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.568), rgba(0, 0, 0, 0.555)),
    url(../Images/sunny.png);
  background-size: cover;
  background-position: top;
  position: relative;
  transition: all 0.5s;

  &--center {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  &--search-box {
    padding: 1rem 1rem;
    text-align: center;
    font-size: 1.2rem;
    background: none;
    border: 2px solid #e74c3c;
    color: white;
    -webkit-box-shadow: 0px 2px 20px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 2px 20px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 2px 20px 1px rgba(0, 0, 0, 0.75);
    transition: all 0.5s;
    border-radius: 50px;

    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(black, 0.1);
      border-bottom: 3px solid #e74c3c;
    }

    &:hover {
      border: 3px solid #e74c3c;
      transform: scale(1.1);
    }
  }

  &--temp {
    color: white;
    padding: 2rem;
    border-radius: 3rem;
    background-color: rgba(0, 0, 0, 0.514);
    -webkit-box-shadow: 0px 2px 20px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 2px 20px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 2px 20px 1px rgba(0, 0, 0, 0.75);
  }

  &--country,
  &--status {
    color: white;
  }
  &--status {
    text-transform: capitalize;
  }
}
.footer {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  color: white;
  letter-spacing: 0.1rem;
  @media only screen and (max-width: 37.5em) {
    font-size: 10px;
    letter-spacing: 1px;
  }

  &--links {
    color: white;
  }
}

.netlify {
  display: block;
  margin: 0 auto;
  width: 5rem;
}

.button {
  margin: 0 auto;
  margin-top: 2rem;
  display: block;
  padding: 0.8rem 1.5rem;
  background: none;
  outline: none;
  border: 2px solid #e74c3c;
  color: white;
  transform: translateY(-5px);
  box-shadow: -1px -1px 14px 1px rgba(0, 0, 0, 0.75);
  transition: all 0.3s;

  &:hover {
    background: white;
    color: black;
    border: 2px solid white;
    transform: translateY(-2px);
  }
}
.error {
  color: white;
}
